* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins';
    background-color: #000;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px
}

@media (max-width: 1024px) {
    .container {
        padding-left: 64px;
        padding-right: 64px
    }
}

@media (max-width: 767px) {
    .container {
        padding-left: 32px;
        padding-right: 32px
    }
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #000;
    margin: 6px 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s
}

.hamburger.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px)
}

.hamburger.is-active:after {
    -webkit-transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-9px, -8px)
}

.hamburger.is-active .bar {
    opacity: 0
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #000;
    padding-top: 120px;
    -webkit-transition: 0.4s;
    transition: 0.4s
}

.mobile-nav.is-active {
    left: 0
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    color: #FFF;
    text-decoration: none
}

.mobile-nav a:hover {
    background-color: #000;
}

@media (min-width: 768px) {
    .mobile-nav {
        display: none
    }

    .hamburger {
        display: none
    }
}

section h2 {
    text-align: center;
    margin-bottom: 32px;
    font-size: 36px
}

.container,
.row,
div {
    width: 100%;
}

.button {
    transition: all .5s ease;
    color: #fff;
    border: 2px solid white;
    font-family: 'Poppins';
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color: transparent;
    padding: 10px;
    margin-right: 30px;
    outline: none;
    border-radius: 0px;
}

.button:hover {
    color: #001F3F;
    background-color: #fff;
}

@media (max-width: 767px) {
    .button {
        font-size: 18px;
        border-radius: 0px;
    }
}

img {
    max-width: 100%
}

header {
    background-color: #000;
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99
}

header .container {
    padding-top: 32px;
    padding-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

header .container h2 {
    color: inherit;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 900
}

header .container h2 span {
    font-weight: 600
}

header .container nav {
    display: -ms-grid;
    display: grid;
    grid-gap: 16px;
    -ms-grid-columns: (auto)[4];
    grid-template-columns: repeat(4, auto)
}

@media (max-width: 767px) {
    header .container nav {
        display: none
    }
}

header .container nav a {
    color: inherit;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
}

header.is-scrolling {
    background-color: #000;
}

header.is-scrolling .container {
    padding-top: 16px;
    padding-bottom: 16px
}

main section.banner {
    background-color: #000;
    background-attachment: fixed;
    background-position: 50% 50%;
    color: #FFF;
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
    background-position: top right;
    background-size: cover
}

main section.banner:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: #000;
    opacity: 0.8
}

main section.banner .container {
    position: relative;
    z-index: 1
}

main section.banner .container h1 span {
    color: #FF9FDB
}

@media (max-width: 767px) {
    main section.banner .container h1 {
        font-size: 32px
    }
}

body {
    background-color: #000;
}
body {
    background-color: #000;
    color: #fff;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.cardo {
    width: 100%;
    position: relative;
    margin: 10px auto;
    background: #000;
    border: 2px solid #fff;
}

.badge {
    position: absolute;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    border-radius: 0px;
}

.cardo_tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background: #000;
}

.cardo_tumb img {
    max-width: 100%;
    max-height: 100%;
}

.cardo_details {
    padding: 30px;
}

.cardo_catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.cardo_details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.cardo_details h4 a:hover {
    color: #fbb72c;
}

.cardo_details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.cardo_bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.cardo_bottom-details div {
    float: left;
    width: 50%;
}

.cardo_price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.cardo_price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.cardo_links {
    text-align: right;
}

.cardo_links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.cardo_links a:hover {
    color: #fbb72c;
}